.main{
  background-image: url(https://source.unsplash.com/jPMKPg7qtZM);
  height: 100vh;
  width: 215vh;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.list_button{
}

.container{
  display: inline-block;
}

.key kbd{
  display: block;
  background-color: transparent;
  color: white;
  font-size: 40px;
}

.key span{
  color: white;
}

.key{
  border: 1px solid white;
  display: inline-block;
  margin: 5px;
  width: 5%;
  transition: all 0.07s;
}

.playing{
  transform: scale(1.1);
  border-color: purple;
  box-shadow: 0 0 10px purple;
}
