*{
  padding: 0;
  margin: 0;
}

html {
      box-sizing: border-box;
      background:#2196F3;
      font-family:'helvetica neue';
      font-size: 20px;
      font-weight: 200;
    }

.main{
  height: 100vh;
  width: 100%;
  background: #2196F3;
  text-align: center;
  justify-content: center;
}

form{
  width: 500px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.main .search{
  margin: 0 auto;
  position: relative;
  top: 30px;
  width: 450px;
  height: 70px;
  text-align: center;
  font-size: 30px;
  border: solid 15px #F7F7F7;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Bree Serif';
  -webkit-box-shadow: 0 0 10px grey;
        box-shadow: 0 0 5px grey;
  z-index: 2;
}

.suggestions{
  position: relative;
  top: 29px;
  width: 80%;
  margin: 0 auto;
}

.suggestions li{
  list-style: none;
  background: #F7F7F7;
  height: 20px;
  font-family: 'Ubuntu';
  border-bottom: solid 1px grey;
  justify-content: center;
  display:flex;
  justify-content:space-between;
  text-transform: capitalize;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 5px grey;
}
